.movie-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem 2rem;
  padding: 1rem 2rem;
  /* border: 3px solid blueviolet; */
  
}



.movie-item {
  flex-basis: calc(20% - 2rem);
  /* border: 2px solid green; */
}

.movie-poster {
  /* border: 2px solid red; */
  cursor: pointer;
  box-shadow: 0 0 2px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.movie-poster > p {
  background-color: #161515;
  color: #fff;
  padding: 0.2rem;
}

.movie-poster:hover {
  box-shadow: 0 0 5px;
}

.movie-poster > img {
  height: 20rem;
  flex-grow: 1;
}

.movie-details {
  text-align: center;
  margin-top: 0.5rem;
}

@media(max-width:600px) {

} 